<!-- 
    Category Input Fields:

Category Name: Required
Description: Optional field for user
Category Budget Allowance: Required field
Add Category Button: Has 50% opacity css styling and disabled. It becomes active and fully opaque once all required category input fields are filled and validated.

 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Category Creation</title>
     <link rel="stylesheet" href="css/categoryCreation.css">
 </head>
 <body>
     <main>
         <h1>Finance App</h1>
         <p>Category Creation</p>
         <form>
             <fieldset>
                 <legend>Category Creation</legend>
                 <label for="categoryName">Category Name:</label>
                 <input type="text" name="categoryName" id="categoryName" required>
                 <br>
                 <label for="categoryDescription">Description:</label>
                 <input type="text" name="categoryDescription" id="categoryDescription">
                 <br>
                 <label for="categoryBudgetAllowance">Category Budget Allowance:</label>
                 <input type="number" name="categoryBudgetAllowance" id="categoryBudgetAllowance" required>
                 <br>
                 <input type="submit" value="Add Category" id="addCategoryButton" disabled>
             </fieldset>
         </form>
     </main>
 </body>
 </html>