<footer class="site-footer">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h6>About</h6><br>
            <p>Budget Bliss, a TechWise Cohort II Project, is your all-in-one solution for effortless spending tracking and insightful financial analysis. 
              With intuitive categorization, clear visualizations, and personalized budgeting features, it's never been easier to understand and manage your finances. 
              Stay on top of your money wherever you go in real-time. Take control of your financial future.</p><br><br><hr>
          </div>
    
          <div class="col-md-12 text-center"><br><br>
            <h6>Dev Team LinkedIn</h6><br>
            <ul class="footer-links">
              <li><a href="https://www.linkedin.com/in/andalatu-sadik-722b17243/">Andalatu Sadik</a></li>
              <li><a href="https://www.linkedin.com/in/bmfuentes03/">Brian Martinez</a></li>
              <li><a href="https://www.linkedin.com/in/dinaol-tadesse/">Dinaol Tadesse</a></li>
              <li><a href="https://www.linkedin.com/in/kendiya-lundy/?trk=public-profile-join-page">Kendiya Lundy</a></li>
              <li><a href="https://www.linkedin.com/in/samcolin/">Samantha Colin</a></li>
            </ul><br><br>
          </div>
        </div>
        <hr>
    </div><br>



    
      
    <div class="container-copyright">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <br><p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Dollar Dynasty</a>.</p>
          </div>
        </div>
    </div>
</footer>