<!-- <p class="text-center text-muted">&copy; Copyright 2024  |  TechWise Team Dollar Dynasty</p> -->
<div class="footer-column">
    <div class="footer-title">Github Repo</div>
    <div class="footer-item"><a href="" target=”_blank>Github QR Code</a></div>
    <div class="footer-title">Teams LinkedIns</div>
    <div class="footer-item"><a href="" target=”_blank>Team LinkedIn QR Code Tree</a></div>
</div>

<div class="footer-column">
    <div class="footer-title">Reach Out to the Team!</div>
    <div>Team Member Names</div>
    <span class="footer-item"><a href="https://www.linkedin.com/in/samcolin/">LinkedIn</a></span><span class="footer-item"><a href="#">Twitter(X)</a></span><span class="footer-item"><a href="#">Email</a></span>
</div>

<div class="footer-column">
    <div class="footer-title">Jump to</div>
    <div class="footer-item">Home</div>
</div>

<div class="footer-separator"></div>

<div class="footer-quote">"Some cool quote."</div>
<div class="footer-credit">Wireframed, designed, prototyped, and hand-coded by ...</div>