<footer class="site-footer">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h6>About</h6><br>
            <p>Proin convallis purus non mattis vestibulum. Phasellus porttitor aliquet felis non blandit. 
                Ut egestas elit ac justo volutpat pretium. Aenean vitae nisl non est auctor maximus. 
                Integer blandit, nisl et consectetur facilisis, est diam bibendum elit, vel 
                vitae auctor lacus, ut pharetra nisi. Vestibulum ante ipsum primis in</p><br><br><hr>
          </div>
    
          <div class="col-md-6 text-center"><br><br>
            <h6>GitHub Repo</h6><br>
            <ul class="footer-links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
    
          <div class="col-md-6 text-center"><br><br>
            <h6>Dev Team LinkedIn Tree</h6><br>
            <ul class="footer-links">
              <li><a href="https://www.linkedin.com/in/andalatu-sadik-722b17243/">Andalatu Sadik</a></li>
              <li><a href="https://www.linkedin.com/in/bmfuentes03/">Brian Martinez</a></li>
              <li><a href="https://www.linkedin.com/in/dinaol-tadesse/">Dinaol Tadesse</a></li>
              <li><a href="https://www.linkedin.com/in/kendiya-lundy/?trk=public-profile-join-page">Kendiya Lundy</a></li>
              <li><a href="https://www.linkedin.com/in/samcolin/">Samantha Colin</a></li>
            </ul><br><br>
          </div>
        </div>
        <hr>
    </div><br>



    
      
    <div class="container-copyright">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <br><p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Dollar Dynasty</a>.</p>
          </div>
        </div>
    </div>
</footer>