<footer class="site-footer">
    <div class="container">
        <div class="row">
          <p>      
            <a class="nav-link" href="/api/logout">Log Out</a>
          </p>
          <div class="col-md-12 text-center">
            <h6>About</h6><br>
            <p>Proin convallis purus non mattis vestibulum. Phasellus porttitor aliquet felis non blandit. 
                Ut egestas elit ac justo volutpat pretium. Aenean vitae nisl non est auctor maximus. 
                Integer blandit, nisl et consectetur facilisis, est diam bibendum elit, vel 
                vitae auctor lacus, ut pharetra nisi. Vestibulum ante ipsum primis in</p><br><br><hr>
          </div>
    
          <div class="col-md-6 text-center"><br><br>
            <h6>GitHub Repo</h6><br>
            <ul class="footer-links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Contribute</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
    
          <div class="col-md-6 text-center"><br><br>
            <h6>Dev Team LinkedIn Tree</h6><br>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Contribute</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul><br><br>
          </div>
        </div>
        <hr>
    </div><br>



    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><h6 class="text-center">Meet Our Team!</h6>
                <p>Proin convallis purus non mattis vestibulum. Phasellus porttitor aliquet felis non blandit. 
                Ut egestas elit ac justo volutpat pretium. Aenean vitae nisl non est auctor maximus.</p><br><br>
            </div><hr>

            <div class="col-md-6 text-center">
                <h6>Dinaol Tadesse</h6>
                <p>Computer Science Graduate</p>
                <p>
                  C++ • Python • Swift • JavaScript
                </p>
                <div class="col-md-12 col-sm-6 col-xs-12">
                  <ul class="social-icons">
                    <li><a class="github" href="https://github.com/dinaolmelak" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/dinaol-tadesse/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="website" href="#" target="_blank"><i class="fas fa-link"></i></a></li>
                  </ul>
                </div><hr>
            </div>
        </div>
    </div><br>


    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
              <h6>Samantha Colin</h6>
              <p>Software Developer</p>
              <p>
                JavaScript • React • NodeJS • ExpressJS • MongoDB
              </p>
              <ul class="social-icons">
                <li><a class="github" href="https://github.com/Scolin022" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a class="website" href="#"><i class="fas fa-link" target="_blank"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/samcolin/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              </ul><hr>
            </div>

            <div class="col-md-6">
                <h6>Member 1</h6>
                <p>Any prefered title(student, web developer, ect..)</p>
                <p>
                  Short sentence with additional background, technologies, or areas of interest.
                </p>
                <ul class="social-icons">
                    <li><a class="github" href="#" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="website" href="#" target="_blank"><i class="fas fa-link"></i></a></li>
                    <li><a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
      


    <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h6>Kendiya Lundy</h6>
            <p>Frontend Software Developer</p>
            <p>
              Short sentence with additional background, technologies, or areas of interest.
            </p>
            <div class="col-md-12 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="github" href="https://github.com/Kendiya242" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="website" href="#" target="_blank"><i class="fas fa-link"></i></a></li>
                    <li><a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <hr>
          </div>
      
          <div class="col-md-6">
              <h6>Andalatu Sadik</h6>
              <p>Backend Developer</p>
              <p>
                  Short sentence with additional background, technologies, or areas of interest.
              </p>
              <div class="col-md-12 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li><a class="github" href="https://github.com/AndalatuGH" target="_blank"><i class="fab fa-github"></i></a></li>
                  <li><a class="website" href="#" target="_blank"><i class="fas fa-link"></i></a></li>
                  <li><a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div><hr>
          </div>
        </div>
    </div>
      
    <div class="container-copyright">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <br><p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Dollar Dynasty</a>.</p>
          </div>
        </div>
    </div>
</footer>