<meta charset="UTF-8">
<title>App Name</title>
<link rel="icon" type="image/png" href="../pages/favicon.png">

<!-- Bootstrap Stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Font Awesome Icons Stylesheet -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

<!-- Custom Stylesheets -->
<link rel="stylesheet" href="../styles/partials/footer.css">

<!-- Plotly Import -->
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
