        
<nav class="w-1/5 px-5 py-8">
    <h1 class="text-3xl font-bold mb-10">FinReports</h1>
    <ul class="space-y-4">
        <li><a href="/dashboard" class="flex items-center"><i class="fas fa-home sidebar-icon mr-3"></i>Dashboard</a></li>
        <li><a href="/budget-overview" class="flex items-center"><i class="fas fa-receipt sidebar-icon mr-3"></i>Budgets</a></li>
        <li><a href="/goals-overview" class="flex items-center"><i class="fas fa-chart-line sidebar-icon mr-3"></i>Goals</a></li>
        <li><a href="#" class="flex items-center"><i class="fas fa-wallet sidebar-icon mr-3"></i>Accounts</a></li>
        <li><a href="#" class="flex items-center"><i class="fas fa-cog sidebar-icon mr-3"></i>Settings</a></li>

        <li><a href="/api/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
    </ul>
</nav>