# machine-specific configuration files
.env

# node modules
node_modules/
package-lock.json

# Mac DS_Store Files
.DS_Store

# Temporary
sum.js
yarn.lock
.vscode/settings.json
.vscode

# Build files
views/styles/styles.css.map