<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<header>
  <h1>Finance App</h1>
  <p>Welcome! Get registered for an account and find the path better financial responsibility</p>
</header>
<main>
  <form action="/" method="post">
    <h3>First name
      <input id="first_name" type="text" name="firstName" placeholder="First name" required="">
    </h3>
    <h3>Last name
      <input id="last_name" type="text" name="lastName" placeholder="Last name" required="">
    </h3>
    <h3>Username
      <input id="username" type="text" name="userName" placeholder="Username" autocomplete="username" required="">
    </h3>
    <h3>Email
      <input id="email" type="email" name="email" placeholder="Email" autocomplete="email" required="">
    </h3>
    <h3>Password
      <input id="password" type="password" name="password" placeholder="Password" autocomplete="new-password" required="">
    </h3>
    <h3>Confirm Password
      <input id="confirm_password" type="password" name="confirmPassword" placeholder="Confirm Password" autocomplete="new-password" required="">
    </h3>
    <button type="submit" method="POST">Submit</button>
  </form>
</main>
<div>
  <p>Login</p>
</div>