doctype html
head
  meta(charset='UTF-8')
  title Home
header
  h1 Finance App
  p Welcome! Get registered for an account and find the path better financial responsibility
main
  form(action='/' method='post')
    h3 First name
      input#first_name(type='text' name='firstName' placeholder='First name' required='')
    h3 Last name
      input#last_name(type='text' name='lastName' placeholder='Last name' required='')
    h3 Username
      input#username(type='text' name='userName' placeholder='Username' autocomplete='username' required='')
    h3 Email
      input#email(type='email' name='email' placeholder='Email' autocomplete='email' required='')
    h3 Password
      input#password(type='password' name='password' placeholder='Password' autocomplete='new-password' required='')
    h3 Confirm Password
      input#confirm_password(type='password' name='confirmPassword' placeholder='Confirm Password' autocomplete='new-password' required='')
    button(type='submit' method='POST') Submit
div
  p Login