<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/common/head/app-head', { title: 'Account Login | FinGuard' , description: 'FinGuard account login page'}) %>

<body class="bg-blue-100">
  <div class="min-h-screen flex">
    <div class="w-1/2 bg-green-100 flex justify-center items-center">
      <!-- ILLISTRATION: use img tag or div w/ background image -->
    <div class="bg-contain bg-center bg-no-repeat" style="background-color: grey; width: 500px; height: 500px;"></div>
  </div>


  <main class="flex flex-col items-center justify-center full-height px-4 py-8">
    <%- include('../../partials/forms/login-form'); %>

    <div class="flex justify-between items-center mt-4">
      <label class="flex items-center text-sm">
        <input type="checkbox" class="form-checkbox" checked>
        <span class="ml-2">Remember me</span>
      </label>
    </div>

    <div class="mt-6 text-center text-sm">
      <p>Don't have an account yet? <a href="/register" class="text-blue-600 hover:underline">Join FinGuard</a></p>
    </div>
  </main>

</body>
</html>