<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/layouts/head', { title: 'Your Dashboard', description: 'Your Dashboarddd' }) %>


<body>
   <%- include('../../partials/layouts/navbar'); %>

  <header>
    <h1>Budget Board</h1>
  </header> 

  <main>
    <div class="dashboard">
      <div class="main-content">
          <div class="dashboard-content">
            <div class="budget">
              <h2>Budget</h2>
              <p>Here is a summary of your budget:</p>
              <button id="deleteBudget">Delete Budget</button>
              <div id="budgetPieChart"></div>
            </div>
          </div>
      </div>
    </div>
  </main>
  
  <footer class="footer">
    <%- include('../../partials/layouts/footer'); %>
  </footer>

  <script src="/js/budgetPage.js"></script>
</body>
</html>