<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <main>
    <header>
      <h1>Finance App</h1>
    </header>

    <form>
      <fieldset>
        
        <legend>
          Login
        </legend>

        <label for="error" id="error"></label>
            

        <label for="username">
          Username:
        </label>
        <input 
          type="text" 
          name="username" 
          id="username" 
          autocomplete="username"
        >
              
        
        <label for="password">
          Password:
        </label>
        <input 
          type="password" 
          name="password" 
          id="password" 
          autocomplete="current-password"
        >
                

        <input 
          type="submit" 
          value="Login" 
          id="loginButton"
        >
        
      </fieldset>
    </form>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  <script src="js/loginPage.js"></script>
</body>
</html>