<!DOCTYPE html>
<html lang="en">
  
<head>
  <%- include('../partials/head', { title: 'Create Your First Budget' }) %>
  <link rel="stylesheet" href="../styles/global/forms.css">
</head>

<body>
  <nav>
    <%- include('../partials/navbar'); %>
  </nav>
  
  <header class="jumbotron">
    <h1>Create a Monthly Budget</h1>
  </header>

  <main>
    <%- include('../partials/budget-form'); %>
  </main>
    
  <footer class="footer">
    <%- include('../partials/footer'); %>
  </footer>

  <script src="../script/budgetCreation.js"></script>
</body>
</html>