<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  
  <div class="dashboard">
    <header>
      <nav class="navigation"> 
        <h1>Finance App</h1>
        <ul>
          <li><a href="/user-dashboard">Dashboard</a></li>
          <li><a href="/budget-page">Budget</a></li>
          <li><a href="/goals-page">Goals</a></li>
        </ul>
        <!-- add log out -->
        <ul>
          <li><a href="/api/logout">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
      <main>
        <header>
          <h1>Budget</h1>
        </header> 
        <div class="dashboard-content">
          <div class="card-container">
            <h3>Here is a summary of your budget:</h3>
            <div id="pieDiv"></div>
            <p id="budgetDescription" class="card-container__content"></p>
            <button id="deleteBudget" class="card-container__button button-delete">Delete Budget</button>
          </div>
          
        </div>
        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>
      </main>
    </div>
    
  </div>
  
  
  <script src="../script/budgetPage.js"></script>
</body>
</html>