<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Budget Page</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <div class="dashboard">
      <header>
        <nav class="navigation">
          <h1>Finance App</h1>
          <ul>
            <li><a href="/user-dashboard">Dashboard</a></li>
            <li><a href="/budget-page">Budget</a></li>
            <li><a href="/goals-page">Goals</a></li>
          </ul>
          <ul>
            <li><a href="/api/logout">Log Out</a></li>
          </ul>
        </nav>
      </header>
      <div class="main-content">
        <div class="content">

          <h1>Create a Monthly Budget</h1>
          <main>
            <form action="/api/budgetCreation" method="post" class="container">
              <section class="form-group">
                <label for="budget_title" class="form-label">
                  Name <strong><span aria-label="required">*</span></strong>
                </label>
                <input 
                    type="text"
                    class="form-control" 
                    name="budget_title" 
                    id="budget_title" 
                    placeholder="Budget Title" 
                    maxlength="50" 
                    required
                >
              </section>
        
        
              <section class="form-group">
                  <label for="budget_description" class="form-label">
                    Brief Overview
                  </label>
                  <textarea 
                    type="text" 
                    class="form-control"
                    name="budget_description" 
                    id="budget_description" 
                    maxlength="150">
                  </textarea>
              </section>
        
        
              <section class="form-group">
                <label for="start_date" class="form-label">
                  Current Month Start Date <strong><span aria-label="required">*</span></strong>
                </label>
                <input 
                  type="date" 
                  class="form-control"
                  name="month_start_date" 
                  id="month_start_date" 
                  required
                > 
                <label for="end_date" class="form-label">
                  Current Month End Date <strong><span aria-label="required">*</span></strong>
                </label>
                 <input
                    type="date" 
                    class="form-control"
                    name="month_end_date" 
                    id="month_end_date" 
                    required
                 >
              </section>
        
        
              <section class="form-group">
                <label for="amount" class="form-label">
                  Total Monthly Income <strong><span aria-label="required">*</span></strong>
                </label>
                <input 
                  type="text" 
                  class="form-control currencyInput"
                  name="monthly_income" 
                  id="monthly_income" 
                  placeholder="$0.00"
                  min="1" 
                  max = "1000" 
                  required
                >
              </section>
        
        
              <br><label for="categories" class="form-control">
                Category Creation
              </label>
              <div id="category-section">
        
              </div>          
        
        
              <button type="button" onclick="addCategory()" class="form-group btn btn-secondary">
                Add Category
              </button> <br><br><br>
              <script>
                let categoryIndex = 0;
                
                function addCategory() {
                  const container = document.getElementById('category-section');
                  const html = `
                    <div class="form-group">
                      <label>Category Name:</label>
                      <input 
                        type="text" 
                        name="categories[${categoryIndex}][category_name]" 
                        required
                      >
                    </div>
                    <div class="form-group">
                      <label>Description:</label>
                      <input 
                        type="text" 
                        name="categories[${categoryIndex}][category_description]"
                      >
                    </div>
                    <div class="form-group">
                      <label for="category_budget">
                        Allowance for Category:
                      </label>
                      <input 
                        type="text" 
                        class="form-control currencyInput"
                        name="categories[${categoryIndex}][category_budget_allowance]" 
                        id="category-currency-${categoryIndex}"  
                        placeholder="$0.00"
                        required
                      >
                    </div>
                    <button type="button" onclick="removeCategory(this)">
                        Remove Category
                    </button>
                  `;
                  const div = document.createElement('div');
                  div.innerHTML = html;
                  container.appendChild(div);
                  categoryIndex++; // Increment the index for each new category added
                }
                
        
                function removeCategory(button) {
                  button.parentElement.remove();
                }
              </script>
        
        
              <button type="submit" class="btn-primary" method="post" class="form-group btn btn-primary">
                Create budget
              </button>
            </form>
          </main>
        </div>
          
        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>

      </div>
    </div>


<script src="../script/budgetCreation.js"></script>
</body>
</html>