<!DOCTYPE html>
<html lang="en">
  
<head>
  <%- include('../partials/head', { title: 'Your Budgets' }) %>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <nav>
    <%- include('../partials/navbar'); %>
  </nav>

  <header>
    <h1>Budget Board</h1>
  </header> 

  <main>
    <div class="dashboard">
      <div class="main-content">
        <main>
          <div class="dashboard-content">
            <div class="budget">
              <h2>Budget</h2>
              <p>Here is a summary of your budget:</p>
              <div id="pieDiv"></div>
            </div>
          </div>
      </div>
    </div>
  </main>
  
  <footer class="footer">
    <%- include('../partials/footer'); %>
  </footer>

  <script src="../script/budgetPage.js"></script>
</body>
</html>