<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header class="jumbotron">
    <h1>Finance App</h1>
    <p>Welcome to the Budget Page! 🏖️</p>
  </header>

  <main>
    <form action="/budget-form" method="post">

      <section class="form-group">
        <label for="budget_title" class="form-label">
          Name
          <strong><span aria-label="required">*</span></strong>
        </label>
        <input 
            type="text"
            class="form-control" 
            name="budget_title" 
            id="budget_title" 
            placeholder="Budget Title" 
            maxlength="50" 
            required
        >
      </section>


      <section class="form-group">
          <label for="budget_description" class="form-label">
            Brief Overview
          </label>
          <textarea 
            type="text" 
            class="form-control"
            name="budget_description" 
            id="budget_description" 
            maxlength="150">
          </textarea>
      </section>


      <section class="form-group">
        <label for="start_date" class="form-label">
          Current Month Start Date
          <span aria-label="required">*</span>
        </label>
        <input 
          type="date" 
          class="form-control"
          name="start_date" 
          id="start_date" 
          required
        > 
      </section>


      <section class="form-group">
        <label for="end_date" class="form-label">
          Current Month End Date
          <span aria-label="required">*</span>
        </label>
         <input
            type="date" 
            class="form-control"
            name="end_date" 
            id="end_date" 
            required
         >
      </section>



      <section class="form-group">
        <label for="amount" class="form-label">
          Total Monthly Income
          <span aria-label="required">*</span>
        </label>
        <input 
          type="number" 
          class="form-control"
          name="amount" 
          id="amount" 
          placeholder="0"
          min="1" 
          max = "1000" 
          required
        >
      </section>


      <button type="submit" class="btn-primary">
        Create budget
      </button>

    </form>
  </main>
    
  <footer class="footer">
    <%- include('../partials/footer'); %>
  </footer>

  <script src="../script/budget-form.js"></script>
</body>
</html>