<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Contact Us</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <div class="dashboard">
    <header>
        <nav class="navigation">
            <h1>Finance App</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact-page">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-content">
        <main>
            <header>
            <h1>Contact Us</h1>
            <p>Have a question or need assistance? Reach out to us!</p>
            </header> 
        </main>
    </div>
    <footer class="footer">
      <%- include('../partials/footer'); %>
    </footer>
    </div>
</body>
</html>