<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  
  <div class="dashboard">
    <header>
      <nav class="navigation"> 
        <h1>Finance App</h1>
        <ul>
          <li><a href="/user-dashboard">Dashboard</a></li>
          <li><a href="/budget-page">Budget</a></li>
          <li><a href="/goals-page">Goals</a></li>
        </ul>
        <!-- add log out -->
        <ul>
          <li><a href="/api/logout">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
      <main>
        <header>
          <h1>Goals</h1>
        </header> 
        <div class="dashboard-content">
            <div class="goals">
                <h3>Here is a summary of your goals:</h3>
                <div>
                    <select id="goalSelect">
                        <option value="0">Select a goal</option>
                    </select>
                </div>
                <p id="dayDifference" class="font-bold text-l"></p>
                <p id="daysRemaining" class="font-bold text-l"></p>
                <p id="amountSaved" class="font-bold text-l"></p>
                <p id="targetRemain" class="font-bold text-l"></p>
                <div id="goalDiv"></div>
                <p id="goalDescription"></p>
                <a href="/goals-form">
                 <button id="AddGoal">Add Goal</button>
                </a>
                <button id="deleteGoal">Delete Goal</button>
            </div>
        </div>
        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>
      </main>
    </div>
  </div>
  
  
  <script src="../script/goalsPage.js"></script>
</body>
</html>