<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Goals</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  
  <div class="dashboard">
    <header>
      <nav class="navigation"> 
        <h1>Budget Bliss</h1>
        <ul>
          <li><a href="/user-dashboard">Dashboard</a></li>
          <li><a href="/budget-page">Budget</a></li>
          <li><a href="/goals-page">Goals</a></li>
        </ul>
        <!-- add log out -->
        <ul>
          <li><a href="/api/logout">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
      <main>
        <header>
          <h1>Goals</h1>
        </header> 
        <div class="dashboard-content">
            <div class="card-container">
                <h3>Here is a summary of your goals:</h3>
                <div>
                    <select id="goalSelect" class="select-field">
                        <option value="0">Select a goal</option>
                    </select>
                </div>
                <div id="goalDiv"></div>
                <div class="card-container container-center">
                  <a href="/goals-form">
                    <button id="AddGoal" class="button-outline">Add Goal</button>
                  </a>
                  <button id="deleteGoal" class="button-delete">Delete Goal</button>
                </div>
              </div>
              <div id="goalDetailContainer" class="card-container">
                <h3 class="card-container__title">Goal Details:</h3>
                <p id="dayDifference" ></p>
                <p id="daysRemaining" ></p>
                <p id="amountSaved"  ></p>
                <p id="targetRemain" ></p>
                <p id="goalDescription"></p>
                <div id="editSavedAmount" class="card-container">
                  <input type="number" id="newAmount" class="input-field" placeholder="Enter amount saved">
                  <button id="updateSavedAmount" class="button-outline">Update</button>
                </div>
              </div>
        </div>
        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>
      </main>
    </div>
  </div>
  
  
  <script src="../script/goalsPage.js"></script>
</body>
</html>