<<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  
  <div class="dashboard">
    <nav class="navigation"> 
      <h1>Finance App</h1>
      <ul>
        <li><a href="/user-dashboard">Dashboard</a></li>
        <li><a href="/budget-page">Budget</a></li>
        <li><a href="/goals-page">Goals</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <main>
        <header>
          <h1>Goals Board</h1>
        </header> 
        <div class="dashboard-content">
            <div class="goals">
                <h2>Goals</h2>
                <p>Here is a summary of your goals:</p>
                <div id="goalDiv"></div>
                <button id="createGoalBtn">Create Goal</button> <!-- New button for goals page-->
            </div>
        </div>
        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>
      </main>
    </div>
  </div>
  
  <script src="../script/userDashboard.js"> </script>
</html>