<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Goal Page</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <div class="dashboard">
    <header>
      <nav class="navigation">
        <h1>Finance App</h1>
        <ul>
          <li><a href="/user-dashboard">Dashboard</a></li>
          <li><a href="/budget-page">Budget</a></li>
          <li><a href="/goals-page">Goals</a></li>
        </ul>
        <ul>
          <li><a href="/api/logout">Log Out</a></li>
        </ul>
      </nav>
    </header>
    <div class="main-content">
      <main>
        <div class="content">
          <h1>Create a Goal</h1>
          <in id="goal_form" action="/api/goalsForm" method="post">
            <h3>Goal Name</h3>
            <input 
              type="text" 
              name="title" 
              id="goal_name" 
              placeholder="Goal Name" 
              maxlength="10" 
              required></input>
      
            <h3>Goal Description</h3>
            <textarea 
              name="description" 
              id="goal_description" 
              placeholder="Goal Description" 
              maxlength="50">
            </textarea>
      
            <h3>Goal Amount</h3>
            <input 
              type="number" 
              name="targetAmount" 
              id="goal_amount" 
              placeholder="$0.00" 
              maxlength="5" 
              required></input>
          
            <h3>Saved Amount</h3>
            <input 
              type="number" 
              name="savedAmount" 
              id="saved_amount" 
              placeholder="$0.00" 
              maxlength="5" 
              required></input>
          
            <h3>Deadline</h3>
            <input 
              type="date" 
              name="deadline" 
              id="goal_end_date" 
              required></input>
      
            <!-- TODO: Ticket for adding money towards a goal -->
            <!-- <button type="button" id="add_goal_btn">Add Goal</button><br><br> -->
      
            <br><button type="submit" method="post" class="form-group btn btn-primary">
              Submit
            </button>
          </form>
        </div>
      </main>
      
      <footer class="footer">
        <%- include('../partials/footer'); %>
      </footer>
    </div>

<script src="../script/goals-page.ejs"></script>
</body>
</html>
