<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <nav>
    <%- include('../partials/navbar'); %>
  </nav>
  
  <header>
    <h1>Goals Board</h1>
  </header> 

  <main>
    <div class="dashboard">
      <div class="main-content">
        <div class="dashboard-content">
          <div class="goals">
            <h2>Goals</h2>
            <p>Here is a summary of your goals:</p>
            <div id="goalDiv"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script src="../script/goalsPage.js"></script>
</body>
</html>