<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head'); %>
    <title>Welcome to YourFinanceApp</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="dashboard">
      <header>
          <nav class="navigation">
              <h1>Finance App</h1>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/contact-page">Contact Us</a></li>
              </ul>
          </nav>
      </header>
      <div class="main-content">

        <main>
            <header>
                <h1>Welcome to Your Finance App</h1>
                <p class="tagline">Track Your Budget and Goals Effortlessly</p>
                <p class="description">With Your Finance App, managing your finances has never been easier. Take control of your budget and set achievable goals to reach your financial dreams.</p>
            </header>
            <div class="content">

              <section >
                  <h2>Features:</h2>
                  
                      <section class="card-container">
                          <h3 class="card-container__title">Budget Management:</h3>
                          <p>Our Budget Management feature offers a comprehensive solution to elevate your financial management strategy. With the ability to create customized budgets tailored to every aspect of your life, you gain unparalleled control over your spending and savings goals. Seamlessly allocate funds to diverse categories such as groceries, entertainment, savings, and more, ensuring that every aspect of your financial life is accounted for. Stay on track with your financial objectives by setting monthly income parameters and monitoring your expenses effortlessly. Our intuitive platform provides real-time insights into your spending habits, enabling you to make informed decisions and adjustments as needed. Say goodbye to financial stress and hello to financial empowerment with our Budget Management feature.
                          .</p>
                          <ul class="container__content">
                              <li>Create personalized budgets for different aspects of your life.</li>
                              <li>Set monthly income and allocate budget allowances for various categories.</li>
                              <li>Track your expenses effortlessly and stay within budget.</li>
                          </ul>
                      </section>
                      <section class="card-container">
                          <h3 class="card-container__title" >Goal Setting:</h3>
                          <p>Welcome to our Goal Setting Feature, where your financial aspirations become achievable realities. Take charge of your financial future by defining clear and actionable goals tailored to your unique ambitions. Whether you're saving for a dream vacation, a new home, or retirement, our intuitive platform allows you to set specific targets and deadlines with ease. Track your progress in real-time as you work towards your objectives, staying motivated with every milestone achieved. With our comprehensive Goal Setting feature, financial empowerment is within reach. Start turning your dreams into tangible achievements today.</p>
                          <ul class="container__content">
                              <li>Define your financial goals with clear titles and descriptions.</li>
                              <li>Set target amounts and deadlines to achieve your goals.</li>
                              <li>Monitor your progress as you save towards your objectives.</li>
                          </ul>
                      </section>
                      <section class="card-container">
                          <h3 class="card-container__title">User-Friendly Interface:</h3>
                          <p>Experience unparalleled convenience and efficiency with our user-friendly interface. Designed with intuitive navigation in mind, our platform ensures a seamless user experience, allowing you to effortlessly access and manage your financial data. Whether you're at home, in the office, or on the go, our app empowers you to stay connected to your finances anytime, anywhere, and from any device. With just a few clicks or taps, you can gain instant insights into your financial health, make informed decisions, and take control of your financial future. Say goodbye to complexity and hello to simplicity with our intuitive interface.
                          </p>
                          <ul class="container__content">
                              <li>Intuitive design for easy navigation and seamless user experience.</li>
                              <li>Access your financial data anytime, anywhere, from any device.</li>
                              <li>Customize your dashboard to suit your preferences and view key insights at a glance</li>
                              <li>Streamline your financial management with simple, intuitive tools and features.</li>
                          </ul>
                      </section>
                  
              </section>
              <section >
                  <h2>Get Started Today!</h2>
                  <p>Sign up now to start managing your finances like a pro. Take the first step towards financial freedom with YourFinanceApp.</p>
                  <a href="/registration-form"><button class="button-outline">Sign Up</button></a>
                  <p>Already have an account? <a href="/login-form">Log In Here</a></p>
              </section>
            </div>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </main>
      </div>
    </div>
</body>
</html>
