<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/visitorHeader'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to Dollar Dynasty!!</h1>
    <p>Reach your financial goals, one dollar at a time.</p>
  </div>
  <!-- Plotly chart will be drawn inside this DIV -->
  <div id='myDiv'></div>
  <div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src=".../100p180/" alt="data-visualzation-piechart"> -->
    <div class="card-body">
      <h5 class="card-title">Vacation to Orlando</h5>
      <h6 class="card-subtitle mb-2 text-muted">Family vacation to Disney World</h6>
      <p class="card-text">GOAL</p>
      <a href="#" class="btn btn-primary">$1,200</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src=".../100px180/" alt="data-visualzation-piechart"> -->
    <div class="card-body">
      <h5 class="card-title">Pay Off Student Debt</h5>
      <h6 class="card-subtitle mb-2 text-muted">Get student loans paid off before moving next year.</h6>
      <p class="card-text">GOAL</p>
      <a href="#" class="btn btn-primary">$6,890</a>
    </div>
  </div>
</main>
<script>
  let targetAmount = 27;
  let savedAmount = 11;
  var data = [{
    values: [targetAmount, savedAmount],
    labels: ['To Save', 'Saved'],
    text: 'Goal',
    textposition: 'inside',
    domain: {column: 1},
    name: 'title Name',
    hoverinfo: 'label+percent+name',
    hole: .5,
    type: 'pie'
  }];
  
  var layout = {
    title: 'Goal Saving',
    annotations: [
      {
        font: {
          size: 20
        },
        
        showarrow: false,
        text: 'Goal',
        x: 0.5,
        y: 0.5
      }
    ],
    height: 400,
    width: 700,
    showlegend: true,
    grid: {rows: 1, columns: 1}
  };
  
  Plotly.newPlot('myDiv', data, layout);
  
</script>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>