<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head'); %>
    <title>Welcome to YourFinanceApp</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="dashboard">
      <header>
          <nav class="navigation">
              <h1>Finance App</h1>
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/contact-page">Contact Us</a></li>
              </ul>
          </nav>
      </header>
      <div class="main-content">

        <main>
            <header>
                <h1>Welcome to YourFinanceApp</h1>
                <p class="tagline">Track Your Budget and Goals Effortlessly</p>
                <p class="description">With YourFinanceApp, managing your finances has never been easier. Take control of your budget and set achievable goals to reach your financial dreams.</p>
            </header>
            <div class="content">

              <section >
                      <section class="card-container">
                          <h3 class="card-container__title">Budget Management:</h3>
                          <ul class="container__content">
                              <li>Create personalized budgets for different aspects of your life.</li>
                              <li>Set monthly income and allocate budget allowances for various categories.</li>
                              <li>Track your expenses effortlessly and stay within budget.</li>
                          </ul>
                      </section>
                      <section class="card-container">
                          <h3 class="card-container__title" >Goal Setting:</h3>
                          <ul class="container__content">
                              <li>Define your financial goals with clear titles and descriptions.</li>
                              <li>Set target amounts and deadlines to achieve your goals.</li>
                              <li>Monitor your progress as you save towards your objectives.</li>
                          </ul>
                      </section>
                      <section class="card-container">
                          <h3 class="card-container__title">User-Friendly Interface:</h3>
                          <ul class="container__content">
                              <li>Intuitive design for easy navigation and seamless user experience.</li>
                              <li>Access your financial data anytime, anywhere, from any device.</li>
                          </ul>
                      </section>
                  
              </section>
              <section >
                  <h2>Get Started Today!</h2>
                  <p>Sign up now to start managing your finances like a pro. Take the first step towards financial freedom with YourFinanceApp.</p>
                  <a href="/registration-form"><button class="button-outline">Sign Up</button></a>
                  <p>Already have an account? <a href="/login-form">Log In Here</a></p>
              </section>
            </div>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </main>
      </div>
    </div>
</body>
</html>
