<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/landing-header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Demo of Dollar Dynasty</h1>
      <p>Reach your financial goals, one dollar at a time.</p>
    </div>

    <div id='myDiv'></div>

  </main>

  <footer class="footer">
    <%- include('../partials/footer'); %>
  </footer>

  <script src="../script/index.js"></script>
</body>
</html>