<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/visitorHeader'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Dashboard</h1>
    <p>Reach your financial goals, one dollar at a time.</p>
  </div>
  <div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src=".../100p180/" alt="data-visualzation-piechart"> -->
    <div class="card-body">
      <h5 class="card-title">Vacation to Orlando</h5>
      <h6 class="card-subtitle mb-2 text-muted">Family vacation to Disney World</h6>
      <p class="card-text">GOAL</p>
      <a href="#" class="btn btn-primary">$1,200</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src=".../100px180/" alt="data-visualzation-piechart"> -->
    <div class="card-body">
      <h5 class="card-title">Pay Off Student Debt</h5>
      <h6 class="card-subtitle mb-2 text-muted">Get student loans paid off before moving next year.</h6>
      <p class="card-text">GOAL</p>
      <a href="#" class="btn btn-primary">$6,890</a>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>