<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <div class="dashboard">
    <header>
      <nav class="navigation">
          <h1>Finance App</h1>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/contact-page">Contact Us</a></li>
          </ul>
      </nav>
  </header>
    <div class="main-content">
        <div class="jumbotron">
          <h1>Login</h1>
          <p>Welcome back!</p>
        </div>
        
        <div class="card-container">
          <main>
            <div>
              <form action="/api/loginForm" method="post">
                <div class="card">
                  <div class="card-header">
                    Login
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <!-- Email -->
                        <input class="input-field"
                          type="text" 
                          name="userName" 
                          id="username" 
                          placeholder="Email" 
                          autocomplete="username"
                          required
                        >
                    </div>
            
            
                    <div class="form-group">
                      <!-- Password -->
                        <input class="input-field"
                          type="password" 
                          name="password" 
                          id="password" 
                          placeholder="Password" 
                          autocomplete="new-password"
                          required
                        >
                    </div>
            
                    <div class="form-group" class="btn btn-primary" class="form-group btn btn-primary">
                      <button type="submit" method="post" class="button-primary">Submit</button>
                    </div>
                    <label>Don't have an account? <a href="/registration-form">Sign Up Here</a></label>
                  </div>
                </div>
              </form>
            </div>
          </main>
        </div>

        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>
    </div>
  </div>
</body>
</html>