<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Register for an Account</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <div class="dashboard">
    <header>
      <nav class="navigation">
          <h1>Finance App</h1>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/contact-page">Contact Us</a></li>
          </ul>
      </nav>
    </header>
  <div class="main-content">
        <main>
          <div class="jumbotron">
            <h1>Register for an Account</h1>
            <p>Follow the form below to get signed up</p>
          </div>

          <div class="card-container">
            <form action="/api/registration-form" method="post" class="container">
                <div class="form-group">
                    <div class="card">
                      <div class="card-header">
                        Sign Up
                      </div>
                      <div class="card-body">
                    <!-- First Name -->
                        <div class="form-group">
                            <input type="text" class="input-field"
                              name="firstName" 
                              id="first_name" 
                              index: true,
                              placeholder="First name"
                              required
                              
                            >
                        </div>
            
            
                        <div class="form-group">
                            <!-- Last Name -->
                            <input class="input-field"
                              type="text" 
                              name="lastName" 
                              id="last_name" 
                              index: true,
                              placeholder="Last name"
                              required
                            >
                        </div>      
                        
                        <div class="form-group">
                          <!-- Username --> 
                            <input class="input-field"
                              type="text" 
                              name="userName" 
                              id="username" 
                              index: true,
                              placeholder="Username" 
                              autocomplete="username"
                              required
                            >

                            >
                        </div>

                        <div class="form-group">
                          <!-- Email -->
                          <input class="input-field"
                            type="email" 
                            name="email" 
                            id="email" 
                            index: true,
                            placeholder="mmcfly@cusco.com"
                            autocomplete="email"
                            required
                              >
                        </div>

                        <div class="form-group">
                            <!-- Password -->
                            <input class="input-field"
                              type="password" 
                              name="password" 
                              id="password" 
                              placeholder="Password" 
                              autocomplete="new-password"
                              required
                            >
                        </div>
                        <div class="form-group">
                            <!-- Confirm Password -->
                            <input class="input-field"
                              type="password" 
                              name="confirmPassword" 
                              id="confirm_password" 
                              placeholder="Confirm Password" 
                              autocomplete="new-password"
                              required
                            >
                        </div>
            
                        <button type="Sign Up" method="post" class="form-group btn btn-primary">
                          Sign Up
                        </button>
                        <br><label>Already have an account? <a href="/login-form">Log In Here</a></label>
                      </div>
                    </div>
                </div>

            </form>
            
          </div>
        </main>
        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>
      </div>
  </div>
  
</body>
</html>