<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../styles/partials/footer.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">


    </div>

    <div class="col-sm-9">
      <form action="/api/registration-form" method="post">
        <div>
          <div>
            <div>
              Sign Up
            </div>
          <div>
          <label>First name</label>
            <input type="text" 
              name="firstName" 
              id="first_name" 
              index: true,
              placeholder="First naxme"
              required
            >
        </div>
  
  
        <div>
          <label>Last name</label>
            <input 
              type="text" 
              name="lastName" 
              id="last_name" 
              index: true,
              placeholder="Last name"
              required
            >
        </div>      
        
        <div>
          <label>Email</label>
            <input 
              type="email" 
              name="email" 
              id="email" 
              index: true,
              placeholder="mmcfly@cusco.com"
              autocomplete="email"
              required
            >
        </div>
  
  
        <div>
          <label>Username</label>
            <input 
              type="text" 
              name="userName" 
              id="username" 
              index: true,
              placeholder="Username" 
              autocomplete="username"
              required
            >
        </div>
  
  
        <div>
          <label>Password</label>
            <input 
              type="password" 
              name="password" 
              id="password" 
              placeholder="Password" 
              autocomplete="new-password"
              required
            >
          <label>Confirm Password</label>
            <input 
              type="password" 
              name="confirmPassword" 
              id="confirm_password" 
              placeholder="Confirm Password" 
              autocomplete="new-password"
              required
            >
        </div>
  
  
        <button type="submit" method="post" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>