<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header class="jumbotron">
    <h1>Welcome {users-first-name}!</h1>
    <h2>DASHBOARD</h2>
  </header> 

  <main>
    <div id="pieDiv">

    </div>


    <!-- TESTING SCRIPT TAG W/DUMMY DATA FOR PLOTLY -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var data = {
            values: [19, 26, 55],
            labels: ['Residential', 'Non-Residential', 'Utility'],
            type: 'pie'
          };
  
          var layout = {
            title: "Total Budget Allocation",
            height: 500,
            width: 800
          };
  
          Plotly.newPlot('pieDiv', [data], layout);
          });
    </script>  
  </main>

  <footer class="footer">
    <%- include('../partials/footer'); %>
  </footer>
</body>
</html>