<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  
  <div class="dashboard">
    <nav class="navigation"> 
      <h1>Finance App</h1>
      <ul>
        <ul><a href="/user-dashboard">Dashboard</a></ul>
        <ul><a href="/budget-page">Budget</a></ul>
        <ul><a href="/goals-page">Goals</a></ul>
      </ul>
      <!-- add log out -->
      <ul>
        <ul><a href="/api/logout">Log Out</a></ul>
      </ul>
    </nav>
    <div class="main-content">
      <main>
        <header>
          <h1 id="welcomeUser"></h1>
          <h2 id ="budgetTotal"></h2>
          <h2 id="totalMonthlyIncome"></h2>
        </header> 
        <div class="dashboard-content">
          <div class="budget">
            <h2>Budget</h2>
            <p>Here is a summary of your budget:</p>
            <div id="pieDiv"></div>
          </div>
          <div class="goals">
            <h2>Goals</h2>
            <p>Here is a summary of your goals:</p>
            <p id="dayDifference" class="font-bold text-l"></p>
            <p id="daysRemaining" class="font-bold text-l"></p>
            <p id="amountSaved" class="font-bold text-l"></p>
            <p id="targetRemain" class="font-bold text-l"></p>
            <div id="goalDiv"></div>
          </div>
        </div>
        <footer class="footer">
          <%- include('../partials/footer'); %>
        </footer>
      </main>
    </div>
    
  </div>
  
  
  <script src="../script/userDashboard.js"></script>
</body>
</html>