<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/visitorHeader'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Welcome {users-first-name}!</h1>
      <p>Reach your financial goals, one dollar at a time.</p>
    </div>


    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Register</h5>
        <h6 class="card-subtitle mb-2 text-muted">Create an account</h6>
        <p class="card-text">Get started on your financial goals today!</p>
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <h6 class="card-subtitle mb-2 text-muted">Already have an account?</h6>
        <p class="card-text">Login to continue your financial journey.</p>
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <%- include('../partials/footer'); %>
  </footer>
</body>
</html>