<!-- <form id="goal_form" action="/api/goalsForm" method="post">
    <h3>Goal Name</h3>
    <input 
      type="text" 
      name="title" 
      id="goal_name" 
      placeholder="Goal Name" 
      maxlength="10" 
      required
    >

    <h3>Goal Description</h3>
    <textarea 
      name="description" 
      id="goal_description" 
      placeholder="Goal Description" 
      maxlength="50">
    </textarea>

    <h3>Goal Amount</h3>
    <input 
      type="number" 
      name="targetAmount" 
      id="goal_amount" 
      placeholder="$0.00" 
      maxlength="5" 
      required>
    >
  
    <h3>Saved Amount</h3>
    <input 
      type="number" 
      name="savedAmount" 
      id="saved_amount" 
      placeholder="$0.00" 
      maxlength="5" 
      required
    >
  
    <h3>Deadline</h3>
    <input 
      type="date" 
      name="deadline" 
      id="goal_end_date" 
      required
    >

    <button type="submit" method="post">
      Submit
    </button>
</form> -->





<form id="goal_form" action="/api/addSavingsGoal" method="post" class="flex flex-col space-y-4">
  <label for="goal_name" class="text-lg">Goal Name</label> 
  <input 
    type="text" 
    name="title" 
    id="goal_name" 
    placeholder="Goal Name" 
    maxlength="10" 
    required

    class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-blue-300"
  >

  <label for="goal_description" class="text-lg">Goal Description</label> 
  <textarea 
    name="description" 
    id="goal_description" 
    maxlength="50"

    rows="4" class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-blue-300">
  </textarea>

  <label for="goal_amount" class="text-lg">Goal Amount</label> 
  <input 
    type="number" 
    name="targetAmount" 
    id="goal_amount" 
    placeholder="$0.00" 
    maxlength="5" 
    required

    class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-blue-300"
  >

  <label for="saved_amount" class="text-lg">Saved Amount</label> 
  <input 
    type="number" 
    name="savedAmount" 
    id="saved_amount" 
    placeholder="$0.00" 
    maxlength="5" 
    required

    class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-blue-300"
  >

  <label for="goal_end_date" class="text-lg">Deadline</label> 
  <input 
    type="date" 
    name="deadline" 
    id="goal_end_date" 
    required

    class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 mt-2 outline-none focus:ring-2 focus:ring-blue-300"
  >

  <button type="submit" method="post" class="inline-block self-end bg-blue-500 text-white font-bold rounded-md px-8 py-4 uppercase text-lg hover:scale-105 duration-300">
    Submit
  </button>
</form>